.custom-info {
  padding: 0.6rem 0.8rem;
  width: 20rem;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: static;
}
.custom-info h4 {
  margin: 0 0 0.5rem;
  color: #777;
}
